.prof-img{
	text-align: center; 
	margin: 80px 0px; 
	background: rgba(243, 201, 17, 0.3); 
	border-radius: 30px; border: solid 2px #001a42;
	padding: 15px 0px;
	width: 250px;
	height: 300px;
	display: inline-block;
}
.prof-img img {
	text-align: center;
	width: 180px;
	height: 180px;
	border-radius: 50%;	
}
